<?php
{licenseBlock}

// Platform themes
use {authorNs}\{id}\model\theme\{platformTheme};
use oat\oatbox\service\ServiceManager;
use oat\tao\model\theme\ThemeService;


// Platform themes
$serviceManager = ServiceManager::getServiceManager();
$themeService = $serviceManager->get(ThemeService::SERVICE_ID);

$themeService->setTheme(new {platformTheme}());
$serviceManager->register(ThemeService::SERVICE_ID, $themeService);
