@import "inc/bootstrap";

.test-runner {
    .toolbar {
        @include flex-container();

        background: $canvas;
        color: $textColor;

        & > * {
            margin: 4px;
        }
    }
    .content {
        &.table {
            td {
                padding: 2px 4px;
            }
            .durations {
                font-size: 1.2rem;
                .duration {
                    @include flex-container();
                    .label {
                        flex: 1;
                    }
                    .value {
                        padding-left: 10px;
                        flex: 1;
                    }
                }
            }
        }

        &.listing {
            width: 500px;
            margin: auto;
            h1 {
                font-family: $headingFont;
                @include font-size(22);
                font-weight: normal;
            }
            h2 {
                font-family: $headingFont;
                @include font-size(18);
                margin: 30px 0 10px;
            }
            .entry-point-box {
                margin-top: 0
            }
        }
    }
}
